@if (hasNanoBots()) {
  <div class="nano-bots-container" aria-hidden="true">
    <div class="nano-bot bot-1">
      <div class="bot-body"></div>
      <div class="bot-arm left-arm"></div>
      <div class="bot-arm right-arm"></div>
      <div class="laser-beam"></div>
    </div>
    <div class="nano-bot bot-2">
      <div class="bot-body"></div>
      <div class="bot-arm left-arm"></div>
      <div class="bot-arm right-arm"></div>
      <div class="laser-beam"></div>
    </div>
    <div class="nano-bot bot-3">
      <div class="bot-body"></div>
      <div class="bot-arm left-arm"></div>
      <div class="bot-arm right-arm"></div>
      <div class="laser-beam"></div>
    </div>
    <div class="nano-bot bot-4">
      <div class="bot-body"></div>
      <div class="bot-arm left-arm"></div>
      <div class="bot-arm right-arm"></div>
      <div class="laser-beam"></div>
    </div>
    <div class="nano-bot bot-5">
      <div class="bot-body"></div>
      <div class="bot-arm left-arm"></div>
      <div class="bot-arm right-arm"></div>
      <div class="laser-beam"></div>
    </div>
    <div class="nano-bot bot-6">
      <div class="bot-body"></div>
      <div class="bot-arm left-arm"></div>
      <div class="bot-arm right-arm"></div>
      <div class="laser-beam"></div>
    </div>
  </div>
}
